<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>MIgatzem</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet">	
		<link th:href="@{/css/migatzem.css}" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
		<link rel="icon" type="image/jpg" th:href="@{/img/favicon.jpg}" />
	</head>
	<body>
	<div class="container panel-login">
	<div class="col-md-4">
		<form method="POST" action="#" th:action="@{/login}">
			<table class="table table-responsive">
				<tr>
					<td colspan="100%" class="text-center"><img th:src="@{/img/logoCreuGroga.jpg}"/></td>
				</tr>
				<tr>
					<td colspan="100%">Introdueixi usuari i contrasenya del domini (és el mateix amb el que ha accedit a l'ordinador)</td>
				</tr>
				<div th:if="${message != null && message != ''}">
					<tr>
						<td colspan="100%">
						<p class="alert alert-danger" role="alert" th:text="${message}" ></p>
						</td>
					</tr>
				</div>
				<tr>
					<td>Usuari</td>
					<td><input type="text" id="username" name="username" /></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" id="password" name="password" /></td>
				</tr>
				<tr>
					<td colspan="100%" class="text-center">
						<button type="submit" title="Guardar">login</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
</body>
</html>